@import 'https://fonts.googleapis.com/css?family=Raleway:400,600,700&subset=latin-ext';
html body {     
            margin: 0 auto;
        }
 
		.input {
	text-align: right;
	font-family: 'Raleway Bold';
}
ul {
	margin: 0 auto;
}

ul li {
	display: inline-block;
	list-style: none;
	margin: 55px 0px 40px 60px;
	text-transform: uppercase; 
	font-size: 13px;

}
li > a {
    color: white;
    text-decoration: none;
    transition: all .3s;
   }
   header {
   	background-image: url(fon.jpg);
   	height: 750px;
   
   }
.logo {
	text-align: left;
	float: left;
	margin-top: 50px;
}
.top {
	width: 1172px;
	margin: 0 auto;
}
.main {
	color: white;
	font-size: 65px;
	font-family: OpenSans Bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 155px;

}
.banner::before {
	  content: ""; 
      display: block;
      background: white;
      width: 1172px;
      height: 1px;
      margin: 0 auto;
  }
  .info {
  	font-size: 22px;
  	font-family: "Raleway Regular";
  	color: white;
  	margin-top: 35px;
  	text-align: center;
  }
  p {
  	color: white;
  	font-size: 13px;
  	font-family: 'Raleway Semibold';
  	
  }
  button {

  	margin-top: 80px;
	background: #e84545;
	width: 198px;
	height: 46px;
	border-style: none;
}
 section {
     margin: 0 auto;
     background: #ffffff;
     max-width: 1435px;
     position: relative;
     margin-top: 120px;
        	
        }
        .content1 {
	display: flex; 
	justify-content: space-around;
	flex-flow: row wrap;
	text-align: center;
	width: 1100px;
	margin: 0 auto;
	 }
        .text {
        	font-family: 'Raleway Regular';
        	font-size: 14px;
        	width: 280px;аг
        	height: 73px;
        	line-height: 2.1;
        	color: #666666;

        }
        .sprite {
		    background-image: url(spritesheet7.png);
		    background-repeat: no-repeat;
		    display: inline-block;
		}
		.sprite-3 {
    width: 60px;
    height: 60px;
    background-position: -5px -5px;
		}

		.sprite-4 {
		    width: 73px;
		    height: 60px;
		    background-position: -75px -5px;
		}

		.sprite-5 {
		    width: 41px;
		    height: 60px;
		    background-position: -5px -75px;
		}

		.sprite-6 {
		    width: 56px;
		    height: 60px;
		    background-position: -56px -75px;
		}

		.sprite-7 {
		    width: 72px;
		    height: 60px;
		    background-position: -158px -5px;
		}

		.sprite-8 {
		    width: 79px;
		    height: 60px;
		    background-position: -122px -75px;
		}
.icon-content {
			display: inline-block;
		}
		.galery {
			margin-top: 120px;
			
			display: inline-block;

			
		}
		.foto {
			display: inline-block;
			max-width: 25%;
			font-size: 0;
		}
		footer {
			;
			background-color: #3a3e64;
			color: white;
			

		}
		.footer {
			width: 1172px;
			margin: 0 auto;
			height: 250px

		}
		.loc {
			display: inline-block;
			margin-top: 60px;
			text-align: center;
			width: 33%;

		}
		.loc1 {
			display: inline-block;
			margin-top: 27px;
			text-align: center;
			color: #9d9fb2;

			

		}
		.share {
			display: inline-block;
			text-align: center;
			width: 33%;
			
			
		}
		.about {
			display: inline-block;
			text-align: center;
			
			width: 33%;
		}
		h3{
			text-transform: uppercase;
			font-family: 'Raleway Bold';
			font-size: 14px;


		}
		p.buttom {

			font-size: 14px;
			font-family: "Raleway Regular";
			color: #9d9fb2;

		}
		p.but {

			font-size: 15px;
			font-family: "Raleway Regular";
			color: #9d9fb2;
			display: inline-block;

		}

		 .copyright {
		 	text-align: center;
		 	margin: 0 auto;
			font-size: 14px;
			font-family: "Raleway"
			
		}
		 .author {
		 	display: inline-block;
		 	text-align: center;
			font-family: "Myriad Pro Regular"
			
		}
		.copy {
			background-color: #313454;
			text-align: center;
			
		}
	
		.b {
			display: inline-block;
			color: #9d9fb2;
		}
		h4 {
			margin-bottom: 3px;
		}
		
